{
    "listen": 3301,
    "host": "localhost",
    "max_players": 30,
    "cgos": {
        "port": 3302,
        "host": "localhost"
    },
    "redis": {
        "host": "localhost",
        "port": 6379
    },
    "review":{
        "host": "localhost",
        "port": 3303
    },
    "analysis": {
        "host": "0.0.0.0",
        "port": 3304
    },
    "leela": {
        "exec": "/path-to-leela",
        "playouts": 200 // optional
    },
    "leelazero": {
        "exec": "/path-to-leelazero",
        "weights": "/path-to-weights",
        "playouts": 200 //optional
    }
}